<?xml version="1.0"?>

<model>
  <name>landslide_heightmap</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Marcelo Elias Simon</name>
    <email>marcelo_simon@hormail.com</email>
  </author>

  <description>
    A heightmap from a landslide scenario.
  </description>
</model>
